<!DOCTYPE html> 
<html lang="pt-br"> 
    <head> 
        <meta charset="utf-8"> 
        <title>Senhas</title>
    </head> 
    <body>
        <h1>Senhas que estão atualmente 'na fila':</h1>
        {% if senhas %}
            <ul>
                {% for senha in senhas %}
                    {% if senha.status.nome == 'Na fila'  %}
                        <li>
                            <p>Senha: <b>{{ senha.senha }}</b>. Emitido: <b>{{ senha.hora_data }}</b> Tipo de senha: <b>{{ senha.tipo.nome }}</b>. Categoria: <b>{{  senha.categoria.nome }}</b></p>
                        </li>
                    {% else %}
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum Perfil encontrado.</p>
        {% endif %}
    </body> 
</html>
